* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #a306b6;
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin-bottom: 5%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul li {
  display: inline;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  font-weight: bold;
  margin: 10px;
}

#logo {
  width: 5rem;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.images {
  display: flex;
  flex-direction: row;
}
.main .images .card {
  background: #d9d9d9;
  margin: 10px;
  padding: 1%;
  width: 12em;
  height: 15em;
}
.main .images .card h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 2px;
}
.main .images .card button {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  background: #a306b6;
  width: 3rem;
  height: 1.5rem;
  border-radius: 1rem;
  border-style: none;
  text-align: center;
  margin: 1em;
}
.main .images img {
  width: 10rem;
  height: 10rem;
}
h2 {
  color: #a306b6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  margin-bottom: 2%;
}
#avatar {
  width: 10rem;
  height: 10rem;
  border: 5px solid white;
  border-radius: 10rem;
  margin-left: 5rem;
}

h1 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 7%;
}

.about h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #a306b6;
  font-size: 2rem;
  margin-bottom: 3%;
}

.about > p {
  max-width: 30rem;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  margin-bottom: 5rem;
}

footer {
  height: 5rem;
  background: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

footer #free {
  color: red;
}

footer #heart {
  color: red;
}

footer p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}
